@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
        margin: theme('spacing.4')
    }

    .hcard {
        background-color: theme('colors.stone.200');
        /* border-radius: theme('borderRadius.lg'); */
        /* padding: theme('spacing.6'); */
        box-shadow: theme('boxShadow.xl');
        margin-bottom: theme('spacing.6')
    }
}